In [1]:
import pandas as pd
from datetime import datetime
import geopy
from geopy.distance import geodesic
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib
matplotlib.style.use('ggplot')
%matplotlib inline
from pylab import rcParams
rcParams['figure.figsize'] = 9,7

In [2]:
df = pd.read_csv("1. orders coordinates.csv")

- id – номер заказа
- delivery_method – тип доставки (0 — мобильный курьер; 1 — пеший курьер)
- publication_time – время заказа
- provider_lat – широта заведения
- provider_lon – долгота заведения
- recipient_lat – широта точки доставки заказа
- recipient_lon – долгота точки доставки заказа

In [5]:
### переведем строчный формат в дататайм и вытащим из него только время
df.publication_time = df.publication_time.apply(lambda x: datetime.time(datetime.strptime(x,'%Y-%m-%d %X')))  

### с помощью библиотеки geopy определим расстояние между точками 
df['distance'] = df.apply(lambda x: geodesic ((x.provider_lat,x.provider_lon), (x.recipient_lat,x.recipient_lon)). m, axis=1)
df

,id,delivery_method,publication_time,provider_lat,provider_lon,recipient_lat,recipient_lon,distance
0,456731,0,10:41:11,43.102578,131.949542,43.127199,131.903531,4637.359474
1,456732,0,16:03:31,43.102578,131.949542,43.154148,131.908536,6630.013885
2,456733,0,11:13:00,43.101090,131.945080,43.166792,131.908541,7881.403706
3,456734,0,10:46:09,43.109655,131.878144,43.115547,131.883194,772.922111
4,456735,0,16:06:01,43.113975,131.882475,43.117655,131.936357,4404.345085
...,...,...,...,...,...,...,...,...
125161,581892,0,10:39:05,43.101618,131.940039,43.126637,131.939889,2779.511619
125162,581893,0,10:39:43,43.116206,131.881526,43.153467,131.925947,5495.280545
125163,581894,1,11:09:34,43.116206,131.881526,43.118328,131.886140,443.379789
125164,581895,0,11:18:44,43.120917,131.923030,43.119716,131.945241,1812.486317
125165,581896,0,11:19:03,43.119523,131.886542,43.157816,131.932398,5658.296496

In [6]:
### создадим для удобства верхнюю и нижнюю границу времени в дататайм и по ним отфильтруем датафрейм

low_limit =  datetime.time(datetime.strptime('16:00:00','%X'))
hight_limit =  datetime.time(datetime.strptime('20:00:00','%X'))

### в итоге получаем датафрейм с нужными нами id, столбцы publication_time и distance оставим для контроля 
df[((df["publication_time"]>low_limit) & \
                            (df["publication_time"]<hight_limit)) & (df.distance<=1500)][['id','publication_time','distance']]

            id publication_time     distance
38      456769         16:22:21   700.958457
39      456770         16:24:15  1112.179901
40      456771         16:26:30  1307.060136
41      456772         16:54:53   446.152828
57      456788         18:29:35  1429.258273
...        ...              ...          ...
125076  581807         19:17:17   340.510756
125080  581811         19:23:56   569.209589
125093  581824         19:38:47   398.697301
125100  581831         19:54:21   152.852907
125107  581838         19:56:42   954.830072

[11074 rows x 3 columns]